.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

#background 
{
  background-color: #35A6FF !important;  
  color: #FEFF49;
  padding: 15px;
}

.form-submit {
  background-color: #2A8EFF !important; 
  border: none;
  color: #FEFF49;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  margin-top: 15px;
  border-radius: 10px;
}

.form-input {
  margin-bottom: 17px !important;
  padding: 5px !important;
}